body {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form__button,
.form__input {
  margin: 10px 0;
  border: solid 2px;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 5px;
}

.form__button:focus,
.form__input:focus {
  outline: none
}


.form__input {
  border-color: purple
}

.form__input {}

.form__button {
  border-color: white;
  background-color: purple;
  transition: transform 0.1s ease-in-out;
  color: white;
  cursor: pointer;
}

.form__button:focus,
.form__button:hover {
  transform: translateY(2px)
}

